{% extends 'base.html' %}
{% block content %}

    <h2 style="text-align: center">New Provider</h2>

    <div class="preview-box">
        <form action="" method="post">

            {% csrf_token %}
            <p><label for="name">Name</label>

            <p><input type="text" name="name">

            <p><label for="address">Address</label>

            <p><input type="text" name="address">

            <p><label for="phone">Phone</label>

            <p><input type="text" name="phone">

            <p>
                {% if log_error %}
                    <label class="error">{{ log_error }}</label>
                {% endif %}
            </p>

            <p></p>
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </div>
{% endblock %}