<?xml version="1.0" encoding="utf-8" ?>
<routes>
  <route>
    <NumberOfBus>1</NumberOfBus>
    <Stations>
      <Station>
        Фолюш
        </Station>
      <Station>
        Мини-рынок
      </Station>
      <Station>
        ул.Л.Чайкиной
      </Station>
      <Station>
        пл.Декабристов
      </Station>
      <Station>
        ул.Поповича
      </Station>
      <Station>
        Обувная Фарбрика
      </Station>
    <Station>
        Вечерная школа №2
      </Station>
        <Station>
        ул.Горновых
      </Station>
        <Station>
        пл.Советская
      </Station>
        <Station>
        Главпочтамп
      </Station>
        <Station>
        Автовокзал
      </Station>
        <Station>
        к-тр Восток
      </Station>
        <Station>
        ул.Победителей
      </Station>
        <Station>
        с-м Алми
      </Station>
      <Station>
        Азот
      </Station>
    </Stations>
  </route>
  <route>
    <NumberOfBus>2</NumberOfBus>
    <Stations>
     <Station>
        Station0
        </Station>
      <Station>
        Station1
      </Station>
      <Station>
        Station2
      </Station>
      <Station>
        Station3
      </Station>
      <Station>
        Station4
      </Station>
      <Station>
        Station5
      </Station>
    <Station>
        Station6
      </Station>
        <Station>
        Station7
      </Station>
        <Station>
        Station8
      </Station>
        <Station>
        Station9
      </Station>
        <Station>
        Station10
      </Station>
        <Station>
        Station12
      </Station>
        <Station>
        Station11
      </Station>
        <Station>
       Station13
      </Station>
      <Station>
        Station14
      </Station>
    </Stations>
  </route>
  <route>
    <NumberOfBus>3</NumberOfBus>
    <Stations>
      <Station>
        Station0
        </Station>
      <Station>
        Station1
      </Station>
      <Station>
        Station2
      </Station>
      <Station>
        Station3
      </Station>
      <Station>
        Station4
      </Station>
      <Station>
        Station5
      </Station>
    <Station>
        Station6
      </Station>
        <Station>
        Station7
      </Station>
        <Station>
        Station8
      </Station>
        <Station>
        Station9
      </Station>
        <Station>
        Station11
      </Station>
        <Station>
        Station13
      </Station>
        <Station>
        Station12
      </Station>
        <Station>
       Station10
      </Station>
      <Station>
        Station14
      </Station>
    </Stations>
  </route>

</routes>
